<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>
<body>

<p><a href="/home/">home</a></p>
<p><a href="/client/">client</a></p>
<p><a href="/db/">db</a></p>
<p><a href="/test/">test</a></p>
<p><a href="/login/">login</a></p>
<p><a href="/loginout/">注销</a></p>

</body>
</html>