<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>
<body>
<form action="" method="post" novalidate>
    <p>username: <input type="text" name="username"></p>
    <p>password: <input type="password" name="password"></p>
    <input type="submit" class="btn btn-primary" value="提交">
</form>

</body>
</html>