<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--响应式布局-->
    <title>Title</title>
    <!--django-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

</head>
<body>
{#<input type="text" id="d1"> +#}
{#<input type="text" id="d2"> =#}
{#<input type="text" id="d3">#}
{#<button id="btn" class="btn btn-dark">计算</button>#}

<form action="" method="post">
    <p>username:<input type="text" name="username" class="form-control" id="u1"></p>
    <p>password:<input type="password" name="password" class="form-control" id="p1"></p>
    <p>file:<input type="file" name="file" id="f1"></p>
    <input type="submit" class="btn btn-primary">
    <input type="button" class="btn btn-danger" id="d1" value="提交">
</form>

<script>
    $('#d1').click(function (){
        $.ajax({
            url:'',
            type:'post',
            dataType:'JSON',
            {#data:{'username':'tom','password':'123456'},#}
            data:{'i1':$('#u1').val(),'i2':$('#p1').val(),'i3':$('#f1').val()},
            success:function (args){
                alert(args)
            }
        })
    })
</script>

<a href="/users/lists">userlist</a>
<a href="ab_json">json</a>
<a href="ab_file">file</a>
<a href="ab_ser">ser</a>
<a href="regedit/user">regedit</a>
<a href=""></a>
<a href=""></a>


{#<script>#}
{#    $('#btn').click(function () {#}
{#        $.ajax({#}
{#            url: '',#}
{#            type: 'post',#}
{#            dataType: 'JSON',#}
{#            data: {'i1': $('#d1').val(), 'i2': $('#d2').val()},#}
{#            success: function (args) {#}
                {#alert(args)#}
{#                $('#d3').val(args)#}
{#                console.log(typeof args)#}
{#            }#}
{#        })#}
{#    })#}
{#</script>#}
</body>
</html>