<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
  </header>
    <br><br><br><br><br><br><br><br><br><br>
  <main class="px-3">
    <h1>您访问的页面不存在!</h1>
    <p class="lead">曾经有一份真挚的爱情摆在面前,没有好好珍惜,等到失去的时候才追悔莫及,
    如果管理员能够再给我一个机会,我会点击返回主页!</p>
    <p class="lead">
      <a href="/" class="btn btn-outline-warning">返回主页</a>
    </p>
  </main>

</div>





</body>
</html>