<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.css' %}">

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
</head>
<body>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">登录</h1>
        <p class="col-lg-10 fs-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贵上极则反贱，贱下极则反贵。贵出如粪土，贱取如珠玉。</p>
      </div>

      <div class="col-md-10 mx-auto col-lg-5">


          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" id="username" placeholder="username" >
            <label for="username">用户名</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" >
            <label for="password">密码</label>
          </div>

          <div class="form-floating form-group">
              <div class="row">
                  <div class="form-floating col-md-4 mb-3">
                      <input type="text" name="code" id="code" class="form-control" placeholder="code">
                      <label for="code" style="margin-left: 10px">验证码</label>
                  </div>
                  <div class="col-md-8 mb-3">
                      <img src="/get_code/" alt="" width="100%" height="57px" id="id_img">
                  </div>
{#                            {% csrf_token %}#}
              </div>
              
          </div>

{#          <button class="w-100 btn btn-lg btn-primary" id="id_commit">登录</button>#}
           <input type="button" class="btn btn-primary" value="登陆" id="id_commit">
          <span style="color: red;margin-left: 100px" id="error"></span>
          <hr class="my-4">
          <small class="text-muted">您选择登录本站,默认是同意本站条款</small>

      </div>

    </div>
  </div>

<script>
    // 点击验证码刷新验证码
    $('#id_img').click(function (){
        let oldVal = $(this).attr('src');
        $(this).attr('src',oldVal += '?')
    })

    //提交数据
    $('#id_commit').click(function (){
        $.ajax({
            url:'',
            type:'post',
            data:{
                'username': $('#username').val(),
                'password': $('#password').val(),
                'code': $('#code').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType:'JSON',
            success: function (args){
                if (args.code === 8888){
                    window.location.href = args.url
                }else{
                    $('#error').text(args.msg)
                }
            }
        })
    })

</script>

</body>
</html>